# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# YOUTUBE_API_KEY: Official Google Cloud YouTube Data API v3 Key
YOUTUBE_API_KEY=AIzaSyC7EhWXYVQ3zDXFRy_Ir6h2ach-Nw9sF54
# OPENAI_API_KEY: Required for JARVIS OpenAI API calls.
OPENAI_API_KEY=MY_OPENAI_API_KEY
